* {
	box-sizing: border-box;
}

body {
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	background-color: rgb(236, 235, 235);
	margin-top: 20px;
}

header {
	background-color: rgb(255, 255, 255);
	padding: 30px 155px 30px 20px;
	margin: 0 auto 0 auto; 
	margin-bottom: 20px;
	width: 1300px;
	position: relative;
	border-bottom: 3px solid rgb(216, 216, 216);
}

.content {
	width: 960px;
	margin: 0 auto 0 auto;
	position: relative;
}

#contact_sign {
	padding: 0px 0px 20px 10px;
	border-bottom: 3px solid rgb(219,219,219);
	font-size: 140%;
}

.contact_wrap {
	width: 565px;
	padding: 20px 20px 0px 20px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 20px;
	border: 1px solid rgb(208, 202, 195);
}

input {
	width: 520px;
}

#submit {
	width: 70px;
	height: 30px;
	background-color: rgb(65, 160, 155);
	border: 1px solid rgb(219,219,219);
	color: rgb(255, 255, 255);
}

span {
	color: rgb(133, 136, 140);
}

#type_your_name {
	border: 1px solid rgb(219,219,219);
	padding: 10px;
	color: black;
}
 

#email_address {
	border: 1px solid rgb(219,219,219);
	padding: 10px;
	color: black;
}

#text-area {
	border: 1px solid rgb(219,219,219);
	color: black;
}


#connect_with_me {
	background-color: rgb(255, 255, 255);
	text-align: center;
	width: 303px;
	padding: 0px 20px 10px 20px;
	position: absolute;
	top: 0;
	right: -30px;
	border: 1px solid rgb(208, 202, 195);
}

#connect_sign {
	border-bottom: 1px solid rgb(219, 219, 219);
	padding: 20px;
	font-size: 140%;
}

h1 { 
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	color: rgb(65, 161, 156);
}



h2 {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	color: rgb(72, 166, 165);
}

#icons {
	padding-top: 10px;
	padding-left: 12px;
}

li {
	display: inline;
}


footer {
	background-color: rgb(91, 91, 91);
	color: rgb(208, 202, 195);
	font-size: 12%;
	padding: 30px;
	margin: 0 auto 0 auto;
	text-align: center;
	width: 1300px;
	border-top: 4px solid rgb(65, 161, 156);
	clear: both;
}

a {
	text-decoration: none; 
	color: rgb(133, 136, 140);
}

#contact, #portfolio, #about {
	float: right;
	padding-right: 15px;
	padding-left: 15px; 
}

#contact, #portfolio {
	border-left: 1px dotted rgb(133, 136, 140);
}



#name {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	font-size: 150%;
	padding: 28px 36px 31px 36px;
	background-color: rgb(65, 160, 155);
	color: rgb(253, 253, 253);
	margin-left: 150px;

}